<%= form_with(model: breastfeeding, local: true) do |form| %>
  <% if breastfeeding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(breastfeeding.errors.count, "error") %> prohibited this breastfeeding from being saved:</h2>

      <ul>
        <% breastfeeding.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :volume %>
    <%= form.number_field :volume %>
  </div>

  <div class="field">
    <%= form.label :feed_time %>
    <%= form.number_field :feed_time %>
  </div>

  <div class="field">
    <%= form.label :baby_id %>
    <%= form.select(:baby_id, options_for_select(@babies_array), prompt: "Seleccione bebé") %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
