<p id="notice"><%= notice %></p>

<p>
  <strong>Volume:</strong>
  <%= @breastfeeding.volume %>
</p>

<p>
  <strong>Feed time:</strong>
  <%= @breastfeeding.feed_time %>
</p>

<p>
  <strong>Baby:</strong>
  <%= @breastfeeding.baby_id %>
</p>

<%= link_to 'Edit', edit_breastfeeding_path(@breastfeeding) %> |
<%= link_to 'Back', breastfeedings_path %>
