<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @baby.name %><br>
  <strong>Cantidad de veces que comió:</strong>
  <%= @baby.amount_feed%>
  <%= @baby.breastfeedings.where('created_at > ?', Date.today).sum(:volume)%>
</p>

<%= link_to 'Edit', edit_baby_path(@baby) %> |
<%= link_to 'Back', babies_path %>
